{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "import/no-cycle": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "test/**/*",
          "tests/**/*",
          "**/__tests__/**",
          "**/*.test.{js,jsx}",
          "**/*.test.jsx"
        ]
      }
    ],
    "@typescript-eslint/indent": "error",
    "@typescript-eslint/default-param-last": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": [
      "off",
      {
        "ignoreRestArgs": true
      }
    ],
    "@typescript-eslint/no-shadow": [
      "off",
      {
        "ignoreTypeValueShadow": true
      }
    ],
    "max-len": "off",
    "default-param-last": "off",
    "no-restricted-syntax": "off",
    "no-nested-ternary": "off",
    "consistent-return": "off",
    "guard-for-in": "off",
    "no-promise-executor-return": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}